*.iso
*.wim
*.aria2
ISOs
secret_key.py
secret_key.au3
secret_key.a3x
Tools
build
build.bat
tekdt_bmc.exe
TekDT.BMC_v1.0.4.zip
Cert
__pycache__
tekdt_bmc.json
Scripts/Check_Signature.ps1
Scripts/secret_key.ps1
tekdt_bmc.json
Scripts/Done.txt
tekdt_bmc.json
Videos/TekDTBMC_VIDEO.tscproj/TekDTBMC_VIDEO.tscproj
Videos/TekDTBMC_VIDEO.tscproj/20251117_172714.mp4
